@{
    Layout = "~/Views/Admin/_Admin_Layout.cshtml";
}
<a class="btn btn-primary" asp-action="AddANewRole">Add a new role</a>
<a class="btn btn-primary" asp-action="AppointSmn">Appoint someone to role</a>