@{
    Layout = "~/Views/Admin/_Admin_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert-success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

@if (User.IsInRole("admin"))
{ 
    <a class="btn btn-primary" asp-action="AddANewRole">Add a new role</a>
    <a class="btn btn-primary" asp-action="AppointSmn">Appoint someone to role</a>
}
<a class="btn btn-primary" asp-action="AddNewTopic">Manage topics</a>
<a class="btn btn-primary" asp-action="AddNewTopic">Mange photos</a>