@{
    Layout = "~/Views/Admin/_Admin_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert-success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
<div class="alert-danger">
    @Html.ValidationSummary()
</div>
@if (User.IsInRole("admin"))
{ 
    <a class="btn btn-primary" asp-action="AppointSmn">Appoint someone to role</a>
}
<a class="btn btn-primary" asp-action="ManageTopics">Manage topics</a>