@{
    Layout = "~/Views/Admin/_Admin_Layout.cshtml";
}
@using AlbumForU.Models
@model Picture
<div class="card">
    @if (TempData["Failure"] != null)
    {
        <div class="alert-danger">
            <p><strong>Fail:</strong> @TempData["Failure"].ToString()</p>
        </div>
    }
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Back</a>
    <div class="card-header">
        <h3>Delete this picture?</h3>
    </div>
    <div class="card-body">
        <h3>Are you sure?</h3>
        <br />
        <br />
        <a href="~/Admin/DeletePictures/Agree/@Model.Id" class="btn btn-danger">DELETE</a>
    </div>
</div>