@{
    ViewData["Title"] = "Home Page";
}
@using AlbumForU.ViewModels
@model HomeViewModel

<div class="home_body">
    @if (TempData["Success"] != null)
    {
        <div class="alert-success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }
    <h1>Hello there!</h1>
    <div class="search_contayner">
        <form asp-action="Search" class="search_form" method="post">
            <input name="request_text" class="form-control" placeholder="Search"/>
            <button class="form-control" type="submit">Go</button>
        </form>
    </div>
    <div class="topics_butts">
        @foreach (var butt in Model.Topics)
        {
            <a class="btn btn-info" href="~/Home/Index/@butt.Id/1">@butt.Name</a>
        }
    </div>
    <div class="pictures_grid">
        <div class="grid_column">
            @foreach (var pic in Model.ThumbsFirstColumn)
            {
                <a href="~/Picture/CertainPicture/@pic.OriginalId" class="thumb_link_contayner">
                    <div class="thumb_wrapper">
                        <img src="~/@pic.Path" />
                    </div>
                </a>
            }
        </div>
        @if (Model.ThumbsSecondColumn.Count() > 0)
        {
            <div class="grid_column">
                @foreach (var pic in Model.ThumbsSecondColumn)
                {
                    <a href="~/Picture/CertainPicture/@pic.OriginalId" class="thumb_link_contayner">
                        <div class="thumb_wrapper">
                            <img src="~/@pic.Path" />
                        </div>
                    </a>
                }
            </div>
        }

        @if (Model.ThumbsThirdColumn.Count() > 0)
        {
            <div class="grid_column">
                @foreach (var pic in Model.ThumbsThirdColumn)
                {
                    <a href="~/Picture/CertainPicture/@pic.OriginalId" class="thumb_link_contayner">
                        <div class="thumb_wrapper">
                            <img src="~/@pic.Path" />
                        </div>
                    </a>
                }
            </div>
        }

    </div>
    
    <div class="page_nums_block">
        @if (ViewBag.PrevPage != null)
        {
            <a href="~/Home/Index/@ViewBag.PrevPage" class="page_control_butt"><i class="fas fa-arrow-left"></i></a>
        }
        @if (ViewBag.NextPageNum != null)
        {
            <a href="~/Home/Index/@ViewBag.NextPageNum" class="page_control_butt"><i class="fas fa-arrow-right"></i></a>
        }
            
    </div>
    
    
</div>
