@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlbumForU.ViewModels
@model PictureCreationViewModel
<div class="card">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Picture Name</label>
            <input class="form-control" asp-for="PictureName" />
        </div>
        <div class="form-group">
            <label>Select topic</label>
            <select class="form-control" asp-for="TopicId">
                @foreach(var topic in Model.Topics)
                {
                    <option value="@topic.Id">@topic.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Upload a picture</label>
            <input asp-for="Picture" type="file" class="form-control-file"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Add the picture</button>
        </div>
    </form>
</div>